.logo-image {
  height: 130px;
  width: 130px;
  display: block;
  margin: 0 auto;
}

.grid {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
}