.logo-image {
  height: 130px;
  width: 130px;
  display: block;
  margin: 0 auto;
}

.grid {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(220px, 0fr)); */
  grid-template-columns: repeat(auto-fill, minmax(242px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
}