.team {
  width: 200px;
}

.logo-image {
  height: 130px;
  width: 130px;
  display: block;
  margin: 0 auto;
}

.grid {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(220px, 0fr)); */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
}

@media only screen and (max-width: 804px) {
  .team {
    width: 165px;
  }
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
  }
}

@media only screen and (max-width: 400px) {
  .team {
    width: 145px;
  }
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  }
}

@media only screen and (max-width: 350px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}