.ant-layout-header {
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.ant-layout-footer {
  text-align: center;
  position: fixed;
  z-index: 9999;
  width: 100%;
  bottom: 0;
  padding: 8px 50px;
}

.logo {
  /* width: 120px; */
  height: 64px;
  background: rgba(255, 255, 255, 0.2);
  margin-right: 24px;
  /* margin: 16px 24px 16px 0; */
  float: left;
}

.btn-toggle {
  position: absolute;
  display: none;
  top: 0;
  right: 50px;
}

@media only screen and (max-width: 768px) {
  .btn-toggle {
    display: block;
  }
  /* .menu-item {
    display: none;
  } */
}