.container {
  padding: 24px;
  padding-bottom: 80px;
  margin: 24px auto;
  /* width: calc(100% - 260px); */
  min-height: calc(100vh - 130px);
  background: rgb(255, 255, 255);
}

/* @media only screen and (max-width: 1252px) {
  .container {
    width: 100%;
  }
} */

.page-content {
  width: calc(100% - 100px);
  margin: 0 auto;
}

.ant-table-body {
  overflow-x: auto !important;
}