.ant-layout-content {
  padding: 0 50px;
  margin-top: 64px;
}

.ant-table-body {
  overflow-x: auto !important;
}

.ant-back-top {
  z-index: 9999;
  margin-bottom: 12px;
}

@media only screen and (max-width: 904px) {
  .ant-layout-header {
    padding: 0;
  }
  .ant-layout-content {
    padding: 0px 0px !important;
  }
}

.container {
  padding: 24px;
  padding-bottom: 80px;
  margin: 16px auto;
  /* width: calc(100% - 260px); */
  min-height: calc(100vh - 130px);
  background: rgb(255, 255, 255);
}

.page-content {
  /* width: calc(100% - 100px); */
  width: 80%;
  margin: 0 auto;
}

.width-75 {
  margin: 0 auto;
  width: 75%;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

@media only screen and (max-width: 700px) {
  .page-content {
    width: 100%;
  }
  .width-75 {
    margin: 0 auto;
    width: 100%;
  }
}